@import "@fontsource/manrope/400.css";
@import "@fontsource/manrope/500.css";
@import "@fontsource/manrope/700.css";

:root {
  /* Color Palette */
  --color-navy: #001f3f;
  --color-blue-light: #0074d9;
  --color-sky: #7fdbff;
  --color-yellow: #ffdc00;
  --color-aqua: #00fff2;
  --color-black: #111111;
  --color-white: #ffffff;

  --background: var(--color-white);
  --foreground: var(--color-black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-black);
    --foreground: var(--color-white);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}